# ==========================================
# Configuration File for Login Panel
# ==========================================

# http/https Panel
PROTOCOL=https

# Panel Domain or IP Address
# Replace 'domain.top' with your server's domain or IP.
HOST=

# Panel Port
# Specify the port number your panel uses.
PORT=2053

# Panel Path
# This is the unique path to access your panel (if applicable).
PATH=datis

# Login Credentials
# Update these with your panel's admin username and password.
USERNAME=
PASSWORD=

# Subscription Link
# The complete link to access the panel subscription.
# Replace the placeholders with actual values.
SUBSCRIPTION=https://GG:2096/sub/

PUBLIC_KEY_PATH=
PRIVATE_KEY_PATH=

# Add your backup links in the variable below example : Vmess OR VLESS OR SSR ....
# Backup_link=vless://efd7075f-5a41-449b-80ac-cca09d038a23@8.8.8.8:443?type=tcp&security=none#dvhost-7js7184z

TELEGRAM_URL=https://t.me/sunthis
